<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Billboard</title>
    <link
      href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static '/billboard/css/style.css' %}" />
  </head>
  <body>
    <h1 class="billboard">BILLBOARD</h1>
    <div class="container">
      {% if result|length == 0 %}
      <div class="no_message">
        <div>No messages...</div>
        <div>Click the '+' button to add a new message</div>
      </div>
      {% endif %}
      {% for model in result %}
      <form>
        <fieldset class="border">
          <legend class="date">{{ date }}</legend>
          <h1 class="title">{{ model.title }}</h1>
          <p class="text">{{ model.message }}</p>
          <div class="signature">{{ model.author }}</div>
        </fieldset>
      </form>
      {% endfor %}
    </div>
    <div class="new_model">
      <button class="add_model"><i class="fas fa-plus"></i></button>
      <button class="cancel"><i class="fas fa-times"></i></button>
      <button class="validate" type="submit" form="submit_form">
        <i class="fas fa-check"></i>
      </button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static '/billboard/js/script.js' %}"></script>
  </body>
</html>
